:root {
    /* palette colors */
    /* subset of NA16 palette by Nauris https://lospec.com/palette-list/na16 */
    --palette-color-1: #584563;
    --palette-color-2: #3e2137;
    --palette-color-3: #d79b7d;
    --palette-color-4: #f5edba;
    --palette-color-5: #c0c741;
    --palette-color-6: #9d303b;
    --palette-color-7: #7ec4c1;
    --palette-color-8: #34859d;

    /* semantic colors */
    --bg-color-1: var(--palette-color-2);
    --bg-color-2: var(--palette-color-8);
    --bg-color-3: var(--palette-color-1);

    --fg-color-1: var(--palette-color-4);
    --fg-color-2: var(--palette-color-3);
    --fg-color-3: var(--palette-color-7);
    --fg-color-4: var(--palette-color-5);

    --fg-color-disabled: transparent;
    --fg-color-error: var(--palette-color-6);
}

/* theme styles */

html,
body {
    color: var(--fg-color-1);
}

@media (min-width: 1280px) {
    body {
        background: linear-gradient(to bottom right, var(--bg-color-1), var(--bg-color-2));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (max-width: 1279px) {
    body {
        background: linear-gradient(to bottom, var(--bg-color-1), var(--bg-color-2));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

.header-container,
.info-container,
.app-container,
.saved-machines-container,
.footer-container {
    color: var(--fg-color-2);
}

.header-container:hover,
.info-container:hover,
.app-container:hover,
.saved-machines-container:hover header,
.saved-machines-container *:hover,
.footer-container:hover,
.footer-container:hover a {
    color: var(--fg-color-1);
}

.footer-container:hover a:hover {
    color: var(--fg-color-4);
}


.footer-container hr {
    border: 0;
    border-top: 2px solid var(--fg-color-2);
}

.footer-container:hover hr {
    border: 0;
    border-top: 2px solid var(--fg-color-1);
}


/* regular styles */

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 32px;
}

header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
}

input {
    font-family: monospace;
    font-size: 14px;
    border-width: 0;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 1px var(--fg-color-1) !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-layout {
    display: grid;
    width: 100%;
    min-height: 100%;
    column-gap: 96px;
}

@media (min-width: 1280px) {
    .app-layout {
        grid-template-areas:
            "header-area  header-area header-area"
            "info-area    app-area    saved-machines-area"
            "options-area app-area    saved-machines-area"
            ".            .           ."
            "footer-area  footer-area footer-area";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content auto min-content;
    }

    .app-container {
        margin-bottom: 32px;
    }

    .footer-container {
        text-align: right;
    }
}

@media (max-width: 1279px) {
    .app-layout {
        grid-template-areas:
            "header-area"
            "info-area"
            "app-area"
            "saved-machines-area"
            "options-area"
            "footer-area";
        justify-items: center;
    }

    .footer-container {
        text-align: center;
        max-width: 480px;
    }

    section {
        text-align: center;
        margin-bottom: 32px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 0;
    }

    .app-container {
        width: 100% !important;
        overflow: hidden;
    }
}

.info-container {
    grid-area: info-area;
    max-width: 480px;
    font-size: 18px;
}

.header-container {
    grid-area: header-area;
    margin-bottom: 16px;
}

.header-container header {
    text-decoration: underline;
}

.saved-machines-container {
    grid-area: saved-machines-area;
    display: flex;
    flex-direction: column;
}

.saved-machine-link {
    text-decoration: none;
    font-size: 36px;
    user-select: none;
    -webkit-user-select: none;
}

.saved-machine-link:hover {
    cursor: pointer;
    z-index: 1;
}

.footer-container {
    grid-area: footer-area;
    font-size: 36px;
}

.footer-container hr {
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
}

.footer-container a {
    color: var(--fg-color-2);
    user-select: none;
    -webkit-user-select: none;
}

.footer-container a:hover {
    cursor: pointer;
}

.app-container {
    grid-area: app-area;
    width: 480px;
}

.simulation-controls {
    margin-top: 8px;
    padding-top: 24px;
}

.state-and-tape-container {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    margin-bottom: 16px;
}

.state {
    box-sizing: border-box;
    min-width: 64px;
    min-height: 64px;
    max-height: 64px;
    font-weight: bold;
    color: var(--fg-color-3);
    border: 4px double var(--fg-color-3);
}

.state.onechar {
    font-size: 44px;
}

.state.twochars {
    font-size: 32px;
}

.state.morechars {
    font-size: 24px;
}

.state.editing-toggled,
.state:hover {
    color: var(--fg-color-1);
    border: 4px double var(--fg-color-1);
}

.state:hover {
    cursor: pointer;
}

.state.fadeout,
.state.fadein {
    transition: color 1s ease;
}

.state.fadeout {
    color: transparent;
}

.tape-wrapper {
    display: flex;
    align-items: center;
    mix-blend-mode: hard-light;
    position: relative;
    overflow: hidden;
}

.tape-wrapper::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, gray 0%, transparent 30%, transparent 70%, gray);
    pointer-events: none;
}

.tape {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

.tape-cell {
    min-width: 48px;
    min-height: 48px;
    border: 2px solid var(--fg-color-3);
    border-right: 0;
    font-size: 24px;
    color: var(--fg-color-3);
    transition: color 1s ease, border 1s ease;
}

.tape-cell.current {
    color: var(--fg-color-1);
    border: 2px solid var(--fg-color-1);
    border-right: 0;
}

.tape-cell.current.fadeout {
    color: transparent;
}

.tape-cell.current.fadein {
    color: var(--fg-color-1);
}

.tape-cell.current+* {
    border-left: 2px solid var(--fg-color-1);
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid var(--fg-color-1);
    border-radius: 16px;
    color: var(--fg-color-1);
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.controls>* {
    padding-left: 8px;
    padding-right: 8px;
}

.controls>*:not(:first-child) {
    border-left: 2px solid var(--fg-color-1);
}

.controls>*.disabled {
    color: var(--fg-color-disabled);
}

.controls>*:hover:not(.disabled) {
    color: var(--fg-color-2);
    cursor: pointer;
    background-color: var(--fg-color-1);
}

.configuration-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
}

.configuration-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.configuration-row:not(:first-child) {
    margin-top: 5px;
}

.configuration-row.disabled {
    display: none;
}

.configuration-row input {
    font-weight: bold;
    background-color: var(--bg-color-1);
    color: var(--fg-color-3);
    height: 28px;
    text-align: center;
    box-sizing: border-box;
}

.configuration-row input.invalid {
    box-shadow: 0 0 0 1px var(--fg-color-error) !important;
}

.configuration-row input+span {
    position: relative;
}

.configuration-row input+span::before {
    position: absolute;
    color: var(--fg-color-error);
    content: attr(error);
    width: 160px;
    overflow: hidden;
    font-size: 12px;
    font-weight: bold;
    bottom: -16px;
    right: -1px;
    text-align: right;
    text-transform: lowercase;
    transition: all 0.1s ease;
    opacity: 0;
}

.configuration-row input:hover+span::before {
    opacity: 1;
}

.configuration-row>input:not(:first-child),
.configuration-row>div:not(:first-child) {
    margin-left: 5px;
}

.machine-name-input {
    width: 250px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.save-machine-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--fg-color-1);
    border-left: 2px solid var(--fg-color-1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--fg-color-1);
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 2px;
    user-select: none;
    -webkit-user-select: none;
}

.save-machine-button:hover {
    color: var(--fg-color-2);
    background-color: var(--fg-color-1);
    cursor: pointer;
}

.current-tape-input {
    width: 250px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.current-state-input {
    width: 50px;
}

.current-empty-symbol-input {
    width: 45px;
}

.current-final-state-input {
    width: 45px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.rules-container {
    display: flex;
    flex-direction: column;
}

.rules-list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;
}

.rule-input {
    width: 100%;
    border: 0;
    border-radius: 16px;
    padding-left: 16px;
    font-weight: bold;
    background-color: var(--bg-color-1);
    color: var(--fg-color-3);
}

.rule-input.invalid {
    box-shadow: 0 0 0 1px red !important;
}

.rule-input.highlighted-rule {
    box-shadow: 0 0 0 1px var(--fg-color-1);
}

.add-rule,
.remove-rule {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--fg-color-1);
    font-weight: bold;
    min-width: 24px;
}

.add-rule:hover,
.remove-rule:hover {
    color: var(--fg-color-2);
}

.add-rule {
    font-size: 32px;
    line-height: 16px;
}

.remove-rule {
    font-size: 20px;
}
