html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #0B0C10;
    padding: 0;
    padding-top: 16px;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Gill Sans", sans-serif;
}

header {
    color: #66FCF1;
    font-size: 48px;
    font-weight: bold;
}

input:focus {
    outline: 1px solid #66FCF1 !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    width: 480px;
    min-height: 300px;
    background-color: #1F2833;
    margin-top: 8px;
    padding: 16px;
    padding-top: 24px;
}

.state-and-tape-container {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    margin-bottom: 16px;
}

.state {
    box-sizing: border-box;
    min-width: 64px;
    min-height: 64px;
    max-height: 64px;
    font-weight: bold;
    color: #C5C6C7;
    border: 4px double #C5C6C7;
}

.state.onechar {
    font-size: 44px;
}

.state.twochars {
    font-size: 32px;
}

.state.morechars {
    font-size: 24px;
}

.state.editing-toggled,
.state:hover {
    color: #66FCF1;
    border: 4px double #66FCF1;
}

.state:hover {
    cursor: pointer;
}

.state.fadeout,
.state.fadein {
    transition: color 1s ease;
}

.state.fadeout {
    color: transparent;
}

.tape-wrapper {
    display: flex;
    align-items: center;
    mix-blend-mode: hard-light;
    position: relative;
    overflow: hidden;
}

.tape-wrapper::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, gray 0%, transparent 30%, transparent 70%, gray);
    pointer-events: none;
}

.tape {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

.tape-cell {
    min-width: 48px;
    min-height: 48px;
    border: 2px solid #C5C6C7;
    border-right: 0;
    font-size: 24px;
    color: #C5C6C7;
    transition: color 1s ease, border 1s ease;
}

.tape-cell.current {
    color: #66FCF1;
    border: 2px solid #66FCF1;
    border-right: 0;
}

.tape-cell.current.fadeout {
    color: transparent;
}

.tape-cell.current.fadein {
    color: #66FCF1;
}

.tape-cell.current + * {
    border-left: 2px solid #66FCF1;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #45A29E;
    border-radius: 16px;
    color: #45A29E;
    user-select: none;
    overflow: hidden;
}

.controls > * {
    padding-left: 8px;
    padding-right: 8px;
}

 .controls > *:not(:first-child) {
    border-left: 2px solid #45A29E;
}

.controls > *.disabled {
    color: #1F2833;
}

.controls > *:hover:not(.disabled) {
    color: #66FCF1;
    cursor: pointer;
    background-color: #45A29E;
}

.edit-state-and-tape-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-left: 32px;
    padding-right: 32px;
}

.edit-state-and-tape-container.disabled {
    display: none;
}

.edit-state-and-tape-container input {
    width: 133px;
    border: 0;
    font-weight: bold;
    background-color: #0B0C10;
    color: #C5C6C7;
    height: 28px;
    text-align: center;
    box-sizing: border-box;
}

.edit-state-and-tape-container input.invalid {
    outline: 1px solid red !important;
}

.edit-state-and-tape-container input + span {
    position: relative;
}

.edit-state-and-tape-container input + span::before {
    position: absolute;
    bottom: -16px;
    right: -1px;
    border-radius: 5px;
    color: red;
    content: attr(error);
    width: 133px;
    font-size: 12px;
    text-align: center;
    text-transform: lowercase;
    transition: all 0.1s ease;
    opacity: 0;
}

.edit-state-and-tape-container input:hover + span::before {
    opacity: 1;
}

.current-state-input {
    padding-left: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.current-empty-symbol-input {
    margin-left: 4px;
    margin-right: 4px;
}

.current-tape-input {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.rules-container {
    display: flex;
    flex-direction: column;
}

.rules-list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;
}

.rule-input {
    width: 100%;
    border: 0;
    border-radius: 16px;
    padding-left: 16px;
    font-weight: bold;
    background-color: #0B0C10;
    color: #C5C6C7;
}

.rule-input.highlighted-rule {
    outline: 1px solid #45A29E;
}

.add-rule,
.remove-rule {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: #45A29E;
    font-weight: bold;
    min-width: 24px;
}

.add-rule:hover,
.remove-rule:hover {
    color: #66FCF1;
}

.add-rule {
    font-size: 32px;
    line-height: 16px;
}

.remove-rule {
    font-size: 20px;
}
